@import "tailwindcss";
:root {
    --primary: #14A6A1;
    --light-mint: #EFF8F8;
    --dark-blue: #252B37;
    --grey: #D5D7DA;
    --light-grey: #E9ECEF;
    --white: #FDFDFD;
    --background: #FDFDFD;
    --foreground: #252B37;
}

@theme inline {
    --color-primary: var(--primary);
    --color-light-mint: var(--light-mint);
    --color-dark-blue: var(--dark-blue);
    --color-grey: var(--grey);
    --color-light-grey: var(--light-grey);
    --color-white: var(--white);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE Ùˆ Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}